/* Estilos generales */
html, body {
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.subheader {
    font-size: 0.45em;
    font-weight: normal;
    color: white;
    display: block;
    margin-top: -5px;
}

.producto-filtrer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtro-categorias {
    margin-left: 65px;
    color: #555;
}

.filtro-categorias select {
    padding: 5px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
    color: #010101;
}

.filtro-categorias select option:hover {
    color: white;
    background-color: #000000;
    font-weight: bold;
}

#categoria {
    max-width: 650px;
    margin-right: 250px;
}

.breadcrumb {
    margin-top: 38px;
    margin-left: 85px;
    margin-bottom: 40px;
}

#home {
    text-decoration: none;
    color: #555;
}

.producter {
    margin-top: 26px;
    margin-left: 85px;
    font-family: "Montserrat", sans-serif;
    font-size: 2.6rem;
}

/* Catálogo de productos */
#catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Estilo para cada producto */
.producto {
    background-color: white;
    width: 250px;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: none !important; /* Elimina cualquier sombra */
    filter: none !important; /* Elimina filtros */
    -webkit-box-shadow: none !important; /* Para Safari */
}


.producto h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.producto p {
    font-size: 1em;
    color: #555;
}

.producto button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.producto button:hover {
    background-color: #ffffff;
    color: black;
    border: solid 1px black;
    font-weight: bold;
}

.producto img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    width: 100%;
}

.footer-info {
    margin-bottom: 20px;
}
.footer-info h3, .footer-info p {
    margin: 10px 0;
}

.footer-redes {
    display: flex;
    justify-content: center;
}

.footer-redes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.wpp-footer, .ig-footer {
    text-decoration: none;
    color: white;
}

.footer-redes li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.footer-copy {
    margin-top: 20px;
}

#fotou {
    width: 30px;
    height: auto;
}

.logoabajo {
    width: 100px;
    height: auto;
    margin: 0 auto;
}

/* Responsive: tablet */
@media (max-width: 768px) {
    #catalogo {
        justify-content: center;
    }

    .producto {
        width: 45%;
        margin: 10px;
    }

    .filtro-categorias {
        margin-right: 5px;
    }

    #categoria {
        max-width: 200px;
    }

    .breadcrumb {
        margin-top: 20px;
        margin-left: 30px;
    }

    .producter {
        margin-left: 30px;
    }
}

/* Responsive: celular */
@media (max-width: 480px) {
    #catalogo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .producto {
        width: 100%;
        margin: 0;
        
    }

    .producto-filtrer {
        flex-direction: column;
    }

    .producter {
        margin-left: 10px;
        font-size: 1.7rem;
    }

    .producto h3 {
        font-size: 1.1em;
    }

    .producto p {
        font-size: 0.9em;
    }
}
